<!-- flexible.erb -->

<h1>Convert <%= @currency_from %> to <%= @currency_to %></h1>

<div>
  <p> 1 <%= @currency_from %> equals <%= @exchange_rate %> <%= @currency_to %> </p>
</div>

<div>
  Go <a href="/<%= @currency_from %>">back</a>.
</div>
